.vscode/

venv/

deps/

core

.HA_VERSION

.uuid

home-assistant.log

home-assistant_v2.db

known_devices.yaml

secrets.yaml

www/rooms

emulated_hue_ids.json

.storage/

.ios.conf

*.pyc

*.bak

.AppleDouble

.DS_Store

www/family

# HACS Plugins
www/community

# Testing stuff
sandbox/

# Archive
.archive/